openapi: 3.0.3
info:
  title: Kitsos Hide My Email API
  summary: Create and manage protected forwarding aliases.
  description: >
    Create and manage random forwarding aliases at hme.kitsos.net.
    A forwarding destination must first be verified as an email_address
    resource grant with the hme:receive scope.
  version: "0.1.0"
  contact: { name: Kitsos Support, url: "https://kitsos.net/contact", email: support@services.kitsos.net }
  license: { name: Proprietary, url: "https://kitsos.net/terms" }
servers:
  - url: https://hme.api.kitsos.net
    description: Production
externalDocs: { description: Kitsos API documentation, url: "https://docs.api.kitsos.net" }

tags:
  - name: Default
    description: Service availability.
  - name: Aliases
    description: Manage your Hide My Email forwarding aliases.

components:
  securitySchemes:
    apiKey:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: A kitsos_... API key with the hme:manage scope.
  schemas:
    Alias:
      type: object
      required: [id, alias, domain, forward_to, status, emails_forwarded, created_at]
      properties:
        id:
          type: string
          format: uuid
        alias:
          type: string
          description: Local part of the generated HME email address.
          example: house.exclusive.15
        domain:
          type: string
          example: hme.kitsos.net
        forward_to:
          type: string
          format: email
        label:
          type: string
          nullable: true
          example: Newsletters
        status:
          type: string
          enum: [active, disabled]
        emails_forwarded:
          type: integer
          minimum: 0
        last_forwarded_at:
          type: integer
          format: int64
          nullable: true
          description: Unix timestamp of the last successful forward.
        created_at:
          type: integer
          format: int64
          description: Unix timestamp of creation.
    CreateAliasRequest:
      type: object
      required: [forwardTo]
      properties:
        forwardTo:
          type: string
          format: email
          description: A verified email_address resource grant with hme:receive scope.
        label:
          type: string
          nullable: true
          maxLength: 255
          example: Newsletters
    CreateAliasResponse:
      type: object
      required: [id, email, forwardTo]
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
          example: house.exclusive.15@hme.kitsos.net
        forwardTo:
          type: string
          format: email
    UpdateAliasRequest:
      type: object
      minProperties: 1
      properties:
        status:
          type: string
          enum: [active, disabled]
        label:
          type: string
          nullable: true
          maxLength: 255
        forwardTo:
          type: string
          format: email
          description: A verified email_address resource grant with hme:receive scope.
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
          example: forbidden
  responses:
    Unauthorized:
      description: Missing, invalid, or insufficiently scoped API key.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Forbidden:
      description: The API key is not permitted to access this resource.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }

security:
  - apiKey: []

paths:
  /health:
    get:
      tags: [Default]
      summary: Health check
      operationId: getHmeHealth
      security: []
      responses:
        "200":
          description: Service is operational.
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok: { type: boolean, example: true }

  /aliases:
    get:
      tags: [Aliases]
      summary: List your aliases
      operationId: getAliases
      responses:
        "200":
          description: Aliases owned by the authenticated API-key user, newest first.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Alias' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Aliases]
      summary: Create a random forwarding alias
      operationId: postAliases
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateAliasRequest' }
      responses:
        "201":
          description: Alias created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CreateAliasResponse' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403":
          description: The forwarding destination is not granted for hme:receive.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        "500":
          description: A unique alias could not be generated after several attempts.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /aliases/{aliasId}:
    parameters:
      - name: aliasId
        in: path
        required: true
        description: Alias UUID.
        schema: { type: string, format: uuid }
    patch:
      tags: [Aliases]
      summary: Update an alias
      operationId: patchAlias
      description: Enable or disable an alias, change its label, or change its forwarding destination.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateAliasRequest' }
      responses:
        "204": { description: Alias updated, or no fields were supplied. }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403":
          description: The new forwarding destination is not granted for hme:receive.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
    delete:
      tags: [Aliases]
      summary: Delete an alias
      operationId: deleteAlias
      responses:
        "204": { description: Alias deleted. }
        "401": { $ref: '#/components/responses/Unauthorized' }
