openapi: 3.0.3
info:
  title: Kitsos Keys API
  description: Self-service API for Kitsos accounts and API keys. Administrative endpoints are documented separately in the Keys Admin API.
  version: "0.1.0"
servers:
  - url: https://keys.api.kitsos.net
tags:
  - name: Default
    description: Service availability.
  - name: Self-service
    description: Manage your Kitsos account and API keys.
components:
  securitySchemes:
    clerkSession:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Clerk session JWT.
  schemas:
    ApiKey:
      type: object
      properties:
        id: { type: string }
        user_id: { type: string }
        app_id: { type: string }
        name: { type: string, nullable: true }
        status: { type: string, enum: [active, revoked, expired] }
        scopes: { type: array, items: { type: string } }
        expires_at: { type: integer, nullable: true }
        last_used_at: { type: integer, nullable: true }
        created_at: { type: integer }
    ApiKeyCreated:
      allOf:
        - $ref: '#/components/schemas/ApiKey'
        - type: object
          properties:
            key: { type: string, description: Raw API key — shown only once, at creation time. }
    Error:
      type: object
      properties:
        error: { type: string }
security:
  - clerkSession: []
paths:
  /health:
    get:
      tags: [Default]
      summary: Health check
      security: []
      responses:
        "200": { description: OK }
  /me:
    get:
      tags: [Self-service]
      summary: Get own user profile
      responses:
        "200": { description: OK }
  /me/api-keys:
    get:
      tags: [Self-service]
      summary: List own API keys
      responses:
        "200": { description: OK, content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/ApiKey' } } } } }
    post:
      tags: [Self-service]
      summary: Create an API key for yourself (scopes limited to what your policy already grants)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [appId, scopes]
              properties:
                appId: { type: string }
                name: { type: string }
                scopes: { type: array, items: { type: string } }
      responses:
        "201": { description: Created, content: { application/json: { schema: { $ref: '#/components/schemas/ApiKeyCreated' } } } }
        "403": { description: None of the requested scopes are allowed by your policy, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
  /me/api-keys/{keyId}:
    delete:
      tags: [Self-service]
      summary: Revoke one of your own API keys
      parameters:
        - { name: keyId, in: path, required: true, schema: { type: string } }
      responses:
        "204": { description: No Content }
  /me/limit-increase-requests:
    get:
      tags: [Self-service]
      summary: List your own limit increase requests
      responses:
        "200": { description: OK }
    post:
      tags: [Self-service]
      summary: Request a usage limit increase
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [appId, limitType, requestedValue]
              properties:
                appId: { type: string }
                limitType: { type: string }
                requestedValue: { type: integer }
                reason: { type: string }
      responses:
        "201": { description: Created }
