openapi: 3.0.3
info:
  title: Kitsos Mail API
  description: >
    Email sending — manual or template-based (POST /send), plus
    user-managed webhooks with dot-notation payload → template
    variable mapping. Webhook triggers are public, gated by a
    per-webhook secret header rather than @kitsos/auth. Send bodies are
    limited to 4 MiB; metadata bodies to 64 KiB; webhook payloads to
    256 KiB.
  version: "1.0.0"
servers:
  - url: https://mail.api.kitsos.net/v1

components:
  parameters:
    PageLimit:
      name: limit
      in: query
      schema: { type: integer, default: 100, minimum: 1, maximum: 500 }
    PageOffset:
      name: offset
      in: query
      schema: { type: integer, default: 0, minimum: 0, maximum: 100000 }
  securitySchemes:
    apiKey:
      type: http
      scheme: bearer
      description: kitsos_... API key or Clerk session with a policy granting mail:send or mail:manage. Webhook creation and modification require both.
    webhookSecret:
      type: apiKey
      in: header
      name: X-Webhook-Secret
      description: Per-webhook secret, returned once at webhook creation.
  schemas:
    Template:
      type: object
      properties:
        id: { type: string }
        name: { type: string, maxLength: 100 }
        url: { type: string, format: uri, maxLength: 2048, description: "Public HTTPS HTML URL, fetched with a 5-second timeout and 3 MiB limit, no redirects, cached 1h" }
        variables: { type: array, maxItems: 100, items: { type: string, maxLength: 100 } }
    Webhook:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        template_id: { type: string }
        from_address: { type: string }
        to_addresses: { type: array, items: { type: string } }
        mapping: { type: object, additionalProperties: { type: string } }
    Error:
      type: object
      properties:
        error: { type: string }

paths:
  /health:
    get:
      summary: Health check
      responses:
        "200": { description: OK }

  /send:
    post:
      summary: Send an email, manually or via a saved template
      security: [{ apiKey: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [from, to, subject]
              properties:
                from: { type: string, format: email, maxLength: 320, description: "Must be a granted resource_type=email_address for this key's user" }
                to: { type: array, minItems: 1, maxItems: 50, items: { type: string, format: email, maxLength: 320 } }
                subject: { type: string, maxLength: 998 }
                template: { type: string, maxLength: 100, description: "Template id — if set, html/text are ignored and rendered from the template instead" }
                data: { type: object, maxProperties: 200, additionalProperties: { type: string, maxLength: 65536 } }
                html: { type: string, maxLength: 3145728 }
                text: { type: string, maxLength: 3145728 }
      responses:
        "200": { description: Sent }
        "403":
          description: from address not granted
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        "429":
          description: Rate or shared daily recipient limit exceeded
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /webhook/{webhookId}:
    post:
      summary: Trigger a webhook — renders its template with the mapped payload and sends
      security: [{ webhookSecret: [] }]
      parameters:
        - { name: webhookId, in: path, required: true, schema: { type: string } }
      requestBody:
        description: Arbitrary JSON payload, resolved against the webhook's dot-notation mapping
        content:
          application/json:
            schema: { type: object }
      responses:
        "200": { description: Sent }
        "401":
          description: Missing or invalid X-Webhook-Secret
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        "429":
          description: Daily email limit exceeded for this webhook's owner
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /templates:
    get:
      summary: List your own templates
      security: [{ apiKey: [] }]
      parameters:
        - { $ref: '#/components/parameters/PageLimit' }
        - { $ref: '#/components/parameters/PageOffset' }
      responses:
        "200": { description: OK, content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/Template' } } } } }
    post:
      summary: Create a template
      security: [{ apiKey: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, url, variables]
              properties:
                name: { type: string, maxLength: 100 }
                url: { type: string, format: uri, maxLength: 2048 }
                variables: { type: array, maxItems: 100, items: { type: string, maxLength: 100 } }
      responses:
        "201": { description: Created }
        "429": { description: Stored-template or hard creation-churn limit exceeded }

  /templates/{templateId}:
    patch:
      summary: Update a template's URL or variables (invalidates the 1h HTML cache)
      security: [{ apiKey: [] }]
      parameters:
        - { name: templateId, in: path, required: true, schema: { type: string } }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url: { type: string, format: uri, maxLength: 2048 }
                variables: { type: array, maxItems: 100, items: { type: string, maxLength: 100 } }
      responses:
        "204": { description: No Content }
    delete:
      summary: Delete a template
      security: [{ apiKey: [] }]
      parameters:
        - { name: templateId, in: path, required: true, schema: { type: string } }
      responses:
        "204": { description: No Content }

  /webhooks:
    get:
      summary: List your own webhooks (secret never included)
      security: [{ apiKey: [] }]
      parameters:
        - { $ref: '#/components/parameters/PageLimit' }
        - { $ref: '#/components/parameters/PageOffset' }
      responses:
        "200": { description: OK, content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/Webhook' } } } } }
    post:
      summary: Create a webhook (returns the secret once)
      security: [{ apiKey: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, templateId, fromAddress, toAddresses, mapping]
              properties:
                name: { type: string, maxLength: 100 }
                templateId: { type: string, maxLength: 100 }
                fromAddress: { type: string, format: email, maxLength: 320, description: "Must be a granted resource_type=email_address" }
                toAddresses: { type: array, minItems: 1, maxItems: 50, items: { type: string, format: email, maxLength: 320 } }
                mapping: { type: object, maxProperties: 200, additionalProperties: { type: string, maxLength: 500 }, description: "{templateVar: 'dot.path.in.payload'}" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string }
                  secret: { type: string, description: "shown only here" }
                  url: { type: string }
        "403":
          description: fromAddress not granted
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        "429": { description: Stored-webhook or hard creation-churn limit exceeded }

  /webhooks/{webhookId}:
    patch:
      summary: Update a webhook's template, addresses, or mapping; ownership and sender grant are revalidated
      security: [{ apiKey: [] }]
      parameters:
        - { name: webhookId, in: path, required: true, schema: { type: string } }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                templateId: { type: string, maxLength: 100 }
                fromAddress: { type: string, format: email, maxLength: 320 }
                toAddresses: { type: array, minItems: 1, maxItems: 50, items: { type: string, format: email, maxLength: 320 } }
                mapping: { type: object, maxProperties: 200, additionalProperties: { type: string, maxLength: 500 } }
      responses:
        "204": { description: No Content }
        "403":
          description: New fromAddress is not currently granted
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        "404":
          description: Webhook or caller-owned template not found
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
    delete:
      summary: Delete a webhook
      security: [{ apiKey: [] }]
      parameters:
        - { name: webhookId, in: path, required: true, schema: { type: string } }
      responses:
        "204": { description: No Content }
