openapi: 3.0.3
info:
  title: Kitsos Utility API
  version: 1.0.0
  description: Unified Crypt, Time, Geo and DNS utility API. Requests without a key are limited to 5/minute per IP; authenticated keys receive higher app-level limits.
servers:
  - url: https://utility.api.kitsos.net
tags:
  - { name: Crypt, description: Secure password, token, number and hash operations. }
  - { name: Time, description: Current time, custom timezone formatting and timezone list. }
  - { name: Geo, description: Request-IP geolocation supplied by Cloudflare. }
  - { name: DNS, description: Recursive and public-provider DNS lookups. }
x-tagGroups:
  - name: Crypt
    tags: [Crypt]
  - name: Time
    tags: [Time]
  - name: Geo
    tags: [Geo]
  - name: DNS
    tags: [DNS]
components:
  securitySchemes:
    kitsosApiKey:
      type: http
      scheme: bearer
      bearerFormat: Kitsos API key
  parameters:
    PublicAuth:
      name: Authorization
      in: header
      required: false
      schema: { type: string, example: Bearer kitsos_example }
      description: Optional. Without a key, the public 5 requests/minute IP budget applies.
    DnsName:
      name: name
      in: query
      required: true
      schema: { type: string, example: example.com }
    DnsType:
      name: type
      in: query
      schema: { type: string, enum: [A, AAAA, NS, CNAME, SOA, TXT], default: A }
  responses:
    PublicRateLimit:
      description: Public request budget exhausted. Use a Kitsos API key for higher limits.
      headers:
        Retry-After: { schema: { type: integer }, description: Seconds until the next public window. }
      content:
        application/json:
          schema: { type: object, properties: { error: { type: string }, message: { type: string } } }
    BadRequest:
      description: Invalid request parameters.
      content: { text/plain: { schema: { type: string } } }
paths:
  /crypt/pass:
    get:
      tags: [Crypt]
      summary: Generate a secure password
      security: [{}, { kitsosApiKey: [] }]
      parameters:
        - { $ref: '#/components/parameters/PublicAuth' }
        - { name: len, in: query, schema: { type: integer, minimum: 1, maximum: 16384, default: 20 } }
        - { name: symbols, in: query, schema: { type: boolean, default: false }, description: Include the full symbol set; presence enables it for legacy compatibility. }
        - { name: strong, in: query, schema: { type: boolean, default: false }, description: Include the compact basic symbol set. }
      responses: { '200': { description: Password, content: { text/plain: { schema: { type: string } } } }, '400': { $ref: '#/components/responses/BadRequest' }, '429': { $ref: '#/components/responses/PublicRateLimit' } }
  /crypt/token:
    get:
      tags: [Crypt]
      summary: Generate a cryptographic token
      security: [{}, { kitsosApiKey: [] }]
      parameters:
        - { $ref: '#/components/parameters/PublicAuth' }
        - { name: len, in: query, schema: { type: integer, minimum: 1, maximum: 65536, default: 32 }, description: Number of random bytes. }
        - { name: enc, in: query, schema: { type: string, enum: [hex, base64], default: hex }, description: URL-safe unpadded Base64 when base64 is selected. }
      responses: { '200': { description: Token, content: { text/plain: { schema: { type: string } } } }, '400': { $ref: '#/components/responses/BadRequest' }, '429': { $ref: '#/components/responses/PublicRateLimit' } }
  /crypt/num:
    get:
      tags: [Crypt]
      summary: Generate a random integer in an inclusive range
      security: [{}, { kitsosApiKey: [] }]
      parameters:
        - { $ref: '#/components/parameters/PublicAuth' }
        - { name: min, in: query, schema: { type: integer, default: 0 } }
        - { name: max, in: query, schema: { type: integer, default: 100 } }
      responses: { '200': { description: Integer, content: { text/plain: { schema: { type: string } } } }, '400': { $ref: '#/components/responses/BadRequest' }, '429': { $ref: '#/components/responses/PublicRateLimit' } }
  /crypt/hash:
    get:
      tags: [Crypt]
      summary: Hash text
      security: [{}, { kitsosApiKey: [] }]
      parameters:
        - { $ref: '#/components/parameters/PublicAuth' }
        - { name: text, in: query, required: true, schema: { type: string, maxLength: 16384 }, description: Legacy parameter name. value is accepted as an alias. }
        - { name: algo, in: query, schema: { type: string, enum: [SHA-1, SHA-256, SHA-384, SHA-512], default: SHA-256 }, description: algorithm is accepted as an alias. }
      responses: { '200': { description: Hex digest, content: { text/plain: { schema: { type: string } } } }, '400': { $ref: '#/components/responses/BadRequest' }, '429': { $ref: '#/components/responses/PublicRateLimit' } }
  /crypt/help:
    get:
      tags: [Crypt]
      summary: Plain-text Crypt help
      security: [{}, { kitsosApiKey: [] }]
      responses: { '200': { description: Help, content: { text/plain: { schema: { type: string } } } } }
  /time:
    get:
      tags: [Time]
      summary: Get current time for caller location or an IANA timezone
      security: [{}, { kitsosApiKey: [] }]
      parameters:
        - { $ref: '#/components/parameters/PublicAuth' }
        - { name: tz, in: query, schema: { type: string, example: Europe/Berlin }, description: IANA timezone. Defaults to Cloudflare IP timezone, then UTC. }
        - { name: format, in: query, schema: { type: string, example: '{d}.{m}.{Y} {H}:{M}' }, description: 'Optional plain-text format with {Y}, {m}, {d}, {H}, {M}, {S}.' }
      responses: { '200': { description: JSON response unless format is supplied }, '400': { $ref: '#/components/responses/BadRequest' }, '429': { $ref: '#/components/responses/PublicRateLimit' } }
  /time/zones:
    get:
      tags: [Time]
      summary: List supported IANA timezone identifiers
      security: [{}, { kitsosApiKey: [] }]
      responses: { '200': { description: Newline-separated timezone list, content: { text/plain: { schema: { type: string } } } } }
  /time/help:
    get:
      tags: [Time]
      summary: Plain-text Time help
      security: [{}, { kitsosApiKey: [] }]
      responses: { '200': { description: Help, content: { text/plain: { schema: { type: string } } } } }
  /geo:
    get:
      tags: [Geo]
      summary: Get caller geolocation and network metadata
      security: [{}, { kitsosApiKey: [] }]
      parameters:
        - { $ref: '#/components/parameters/PublicAuth' }
        - { name: format, in: query, schema: { type: string, enum: [json, txt], default: json } }
      responses: { '200': { description: Location response }, '429': { $ref: '#/components/responses/PublicRateLimit' } }
  /geo/help:
    get:
      tags: [Geo]
      summary: Plain-text Geo help
      security: [{}, { kitsosApiKey: [] }]
      responses: { '200': { description: Help, content: { text/plain: { schema: { type: string } } } } }
  /dns:
    get:
      tags: [DNS]
      summary: Resolve DNS through the default recursive resolver
      security: [{}, { kitsosApiKey: [] }]
      parameters:
        - { $ref: '#/components/parameters/PublicAuth' }
        - { $ref: '#/components/parameters/DnsName' }
        - { $ref: '#/components/parameters/DnsType' }
        - { name: cache, in: query, schema: { type: boolean, default: true }, description: Set false to return Cache-Control no-store. }
      responses: { '200': { description: DNS response sections }, '400': { description: Invalid domain or record type }, '502': { description: DNS upstream failure }, '429': { $ref: '#/components/responses/PublicRateLimit' } }
  /dns/{provider}:
    get:
      tags: [DNS]
      summary: Resolve DNS through a named public provider
      security: [{}, { kitsosApiKey: [] }]
      parameters:
        - { $ref: '#/components/parameters/PublicAuth' }
        - { name: provider, in: path, required: true, schema: { type: string, enum: [google, cloudflare, quad9] } }
        - { $ref: '#/components/parameters/DnsName' }
        - { $ref: '#/components/parameters/DnsType' }
        - { name: cache, in: query, schema: { type: boolean, default: true } }
      responses: { '200': { description: DNS response sections }, '400': { description: Invalid domain or record type }, '404': { description: Unknown provider }, '502': { description: DNS upstream failure }, '429': { $ref: '#/components/responses/PublicRateLimit' } }
  /dns/help:
    get:
      tags: [DNS]
      summary: Plain-text DNS help
      security: [{}, { kitsosApiKey: [] }]
      responses: { '200': { description: Help, content: { text/plain: { schema: { type: string } } } } }
