openapi: 3.0.3
info:
  title: Kitsos Verify API
  description: |
    Resource ownership verification (DNS-TXT or magic link) — the gate
    before any resource_grants row gets created. Every route except
    the health check and the magic-link confirm endpoint requires a
    Kitsos API key with a verify:resource:* scope. Admin routes require
    a Clerk session belonging to the configured admin group.
  version: "0.1.0"
  contact:
    name: Kitsos
    url: 'https://kitsos.net/contact'
    email: support@services.kitsos.net
  termsOfService: 'https://kitsos.net/terms'
  license:
    name: Proprietary
    url: 'https://kitsos.net/terms'
servers:
  - url: 'https://verify.api.kitsos.net'
tags:
  - name: Default
    description: Health check.
  - name: Resources
    description: Register and verify owned resources.
  - name: Admin
    description: Administrative resource management.

components:
  securitySchemes:
    clerkSession:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Clerk session JWT for admin endpoints.
    apiKey:
      type: http
      scheme: bearer
      bearerFormat: Kitsos API key
      description: Kitsos API key with verify:resource:read, verify:resource:create, or verify:resource:verify.
  schemas:
    ResourceVerification:
      type: object
      properties:
        id: { type: string }
        app_id: { type: string }
        resource_type: { type: string }
        value: { type: string }
        method: { type: string, enum: [dns_txt, magic_link] }
        verified_at: { type: integer, nullable: true }
        reverify_due_at: { type: integer, nullable: true }
        grace_expires_at: { type: integer, nullable: true }
    Error:
      type: object
      properties:
        error: { type: string }

paths:
  /health:
    get:
      summary: Health check
      description: "Health check."
      operationId: getHealth
      tags: [Default]
      security: []
      responses:
        "200": { description: OK }

  /resources:
    get:
      summary: List your own resources and their verification status
      description: "List your own resources and their verification status."
      operationId: getResources
      tags: [Resources]
      security: [{ apiKey: [] }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/ResourceVerification' } }
    post:
      summary: Register a resource and start a verification attempt
      description: "Register a resource and start a verification attempt."
      operationId: postResources
      tags: [Resources]
      security: [{ apiKey: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [appId, resourceType, value, method, scopes]
              properties:
                appId: { type: string }
                resourceType: { type: string, example: zone }
                value: { type: string, example: domain.de }
                method: { type: string, enum: [dns_txt, magic_link] }
                scopes: { type: array, items: { type: string } }
      responses:
        "201":
          description: >
            For dns_txt: returns the TXT record name/value to add.
            For magic_link: sends the confirm email and returns whether it was sent.
          content:
            application/json:
              schema:
                type: object
                properties:
                  resourceId: { type: string }
                  verificationId: { type: string }
                  instructions:
                    type: object
                    nullable: true
                    properties:
                      record: { type: string }
                      type: { type: string, enum: [TXT] }
                      value: { type: string }
                  emailSent: { type: boolean, nullable: true }
        "409":
          description: The caller already has a verified ownership claim for this resource
        "429":
          description: Magic-link email budget of 15 per UTC day is exhausted

  /resources/{resourceId}:
    delete:
      summary: Remove your own verified ownership claim and its grants
      parameters:
        - { name: resourceId, in: path, required: true, schema: { type: string } }
      responses:
        "204": { description: Ownership claim removed }
        "404":
          description: No verified ownership claim belonging to the caller
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /resources/{resourceId}/check-dns:
    post:
      summary: Check a pending DNS-TXT verification via Cloudflare DoH; creates the resource_grants row on success
      description: "Check a pending DNS-TXT verification via Cloudflare DoH; creates the resource_grants row on success."
      operationId: postResourcesResourceidCheckDns
      tags: [Resources]
      security: [{ apiKey: [] }]
      parameters:
        - { name: resourceId, in: path, required: true, schema: { type: string }, description: "Path parameter resourceId." }
      responses:
        "200":
          description: Result of the check (verified true/false)
          content:
            application/json:
              schema:
                type: object
                properties:
                  verified: { type: boolean }
                  expected: { type: string, nullable: true }
                  found: { type: array, items: { type: string }, nullable: true }
        "404":
          description: No pending DNS verification for this resource
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /resources/{resourceId}/confirm:
    get:
      summary: Confirm a magic-link verification (public — the token itself is the credential, no Clerk session required)
      description: "Confirm a magic-link verification (public — the token itself is the credential, no Clerk session required)."
      operationId: getResourcesResourceidConfirm
      tags: [Resources]
      security: []
      parameters:
        - { name: resourceId, in: path, required: true, schema: { type: string }, description: "Path parameter resourceId." }
        - { name: token, in: query, required: true, schema: { type: string }, description: "Query parameter token." }
      responses:
        "200":
          description: Verified — resource_grants row created
        "404":
          description: Invalid or already-used token
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /admin/resources:
    get:
      summary: List all resources across all users (admin only)
      description: "List all resources across all users (admin only)."
      operationId: getAdminResources
      tags: [Admin]
      security: [{ clerkSession: [] }]
      responses:
        "200": { description: OK }

  /admin/resources/{resourceId}:
    delete:
      summary: Delete a resource and its verifications/grants (admin only)
      description: "Delete a resource and its verifications/grants (admin only)."
      operationId: deleteAdminResourcesResourceid
      tags: [Admin]
      security: [{ clerkSession: [] }]
      parameters:
        - { name: resourceId, in: path, required: true, schema: { type: string }, description: "Path parameter resourceId." }
      responses:
        "204": { description: No Content }
