openapi: 3.0.3
info:
  title: Kitsos Verify API
  description: >
    Resource ownership verification (DNS-TXT or magic link) — the gate
    before any resource_grants row gets created. Every route except
    the health check and the magic-link confirm endpoint requires a
    Clerk session (no API-key auth path — verification is a human,
    in-browser action).
  version: "0.1.0"
servers:
  - url: https://verify.api.kitsos.net

components:
  securitySchemes:
    clerkSession:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    ResourceVerification:
      type: object
      properties:
        id: { type: string }
        app_id: { type: string }
        resource_type: { type: string }
        value: { type: string }
        method: { type: string, enum: [dns_txt, magic_link] }
        verified_at: { type: integer, nullable: true }
        reverify_due_at: { type: integer, nullable: true }
        grace_expires_at: { type: integer, nullable: true }
    Error:
      type: object
      properties:
        error: { type: string }

security:
  - clerkSession: []

paths:
  /health:
    get:
      summary: Health check
      security: []
      responses:
        "200": { description: OK }

  /resources:
    get:
      summary: List your own resources and their verification status
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/ResourceVerification' } }
    post:
      summary: Register a resource and start a verification attempt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [appId, resourceType, value, method, scopes]
              properties:
                appId: { type: string }
                resourceType: { type: string, example: zone }
                value: { type: string, example: domain.de }
                method: { type: string, enum: [dns_txt, magic_link] }
                scopes: { type: array, items: { type: string } }
      responses:
        "201":
          description: >
            For dns_txt: returns the TXT record name/value to add.
            For magic_link: sends the confirm email and returns whether it was sent.
          content:
            application/json:
              schema:
                type: object
                properties:
                  resourceId: { type: string }
                  verificationId: { type: string }
                  instructions:
                    type: object
                    nullable: true
                    properties:
                      record: { type: string }
                      type: { type: string, enum: [TXT] }
                      value: { type: string }
                  emailSent: { type: boolean, nullable: true }

  /resources/{resourceId}/check-dns:
    post:
      summary: Check a pending DNS-TXT verification via Cloudflare DoH; creates the resource_grants row on success
      parameters:
        - { name: resourceId, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: Result of the check (verified true/false)
          content:
            application/json:
              schema:
                type: object
                properties:
                  verified: { type: boolean }
                  expected: { type: string, nullable: true }
                  found: { type: array, items: { type: string }, nullable: true }
        "404":
          description: No pending DNS verification for this resource
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /resources/{resourceId}/confirm:
    get:
      summary: Confirm a magic-link verification (public — the token itself is the credential, no Clerk session required)
      security: []
      parameters:
        - { name: resourceId, in: path, required: true, schema: { type: string } }
        - { name: token, in: query, required: true, schema: { type: string } }
      responses:
        "200":
          description: Verified — resource_grants row created
        "404":
          description: Invalid or already-used token
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /admin/resources:
    get:
      summary: List all resources across all users (admin only)
      responses:
        "200": { description: OK }

  /admin/resources/{resourceId}:
    delete:
      summary: Delete a resource and its verifications/grants (admin only)
      parameters:
        - { name: resourceId, in: path, required: true, schema: { type: string } }
      responses:
        "204": { description: No Content }
