openapi: 3.0.3
info:
  title: Kitsos Verify API
  description: |
    Platform-wide resource ownership verification. Domains use DNS-TXT;
    email addresses use a magic link sent to that exact address. Once
    verified, the resource can be used with every Kitsos API. Email
    verification is permanent; domain ownership is rechecked daily.
    API-key scopes still control which operations the key may perform.
    Every route except the health check and the magic-link confirm endpoint requires a
    Kitsos API key with a verify:resource:* scope. Admin routes require
    a Clerk session belonging to the configured admin group.
  version: "0.1.0"
  contact:
    name: Kitsos
    url: 'https://kitsos.net/contact'
    email: support@services.kitsos.net
  termsOfService: 'https://kitsos.net/terms'
  license:
    name: Proprietary
    url: 'https://kitsos.net/terms'
servers:
  - url: 'https://verify.api.kitsos.net'
tags:
  - name: Default
    description: Health check.
  - name: Resources
    description: Register and verify owned resources.
  - name: Admin
    description: Administrative resource management.

components:
  securitySchemes:
    clerkSession:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Clerk session JWT for admin endpoints.
    apiKey:
      type: http
      scheme: bearer
      bearerFormat: Kitsos API key
      description: Kitsos API key with verify:resource:read, verify:resource:create, or verify:resource:verify.
  schemas:
    ResourceVerification:
      type: object
      properties:
        id: { type: string }
        resource_type: { type: string }
        value: { type: string }
        method: { type: string, enum: [dns_txt, magic_link] }
        verified_at: { type: integer, nullable: true }
        reverify_due_at: { type: integer, nullable: true }
        grace_expires_at: { type: integer, nullable: true }
    Error:
      type: object
      properties:
        error: { type: string }

paths:
  /health:
    get:
      summary: Health check
      description: "Health check."
      operationId: getHealth
      tags: [Default]
      security: []
      responses:
        "200": { description: OK }

  /resources:
    get:
      summary: List your own resources and their verification status
      description: "List your own resources and their verification status."
      operationId: getResources
      tags: [Resources]
      security: [{ apiKey: [] }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/ResourceVerification' } }
    post:
      summary: Register and verify ownership of a resource
      description: "Starts the verification method dictated by resourceType. A zone always uses DNS-TXT and an email_address always receives a magic link. An already verified resource is immediately reusable."
      operationId: postResources
      tags: [Resources]
      security: [{ apiKey: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [resourceType, value]
              properties:
                resourceType:
                  type: string
                  enum: [zone, email_address]
                  description: "The ownership type. zone selects DNS-TXT; email_address selects a magic link."
                  example: zone
                value:
                  type: string
                  description: "A valid domain name or email address matching resourceType."
                  example: domain.de
      responses:
        "200":
          description: The resource was already verified and can be used across all Kitsos APIs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  resourceId: { type: string }
                  alreadyVerified: { type: boolean, example: true }
        "201":
          description: >
            For a zone, returns the DNS TXT record name and value to add.
            For an email_address, sends the confirm link to that address and
            returns whether it was sent.
          content:
            application/json:
              schema:
                type: object
                properties:
                  resourceId: { type: string }
                  verificationId: { type: string }
                  instructions:
                    type: object
                    nullable: true
                    properties:
                      record: { type: string }
                      type: { type: string, enum: [TXT] }
                      value: { type: string }
                  emailSent: { type: boolean, nullable: true }
        "400":
          description: The resource type or value is missing, unsupported, or invalid.
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        "429":
          description: Magic-link email budget of 15 per UTC day is exhausted

  /resources/{resourceId}:
    delete:
      summary: Remove your own verified ownership claim and its grants
      description: Remove the authenticated user's ownership verification without affecting claims belonging to other users.
      operationId: deleteResource
      tags: [Resources]
      security: [{ apiKey: [] }]
      parameters:
        - { name: resourceId, in: path, required: true, schema: { type: string }, description: Resource identifier. }
      responses:
        "204": { description: Ownership claim removed }
        "404":
          description: No verified ownership claim belonging to the caller
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /resources/{resourceId}/check-dns:
    post:
      summary: Check a pending DNS-TXT ownership verification
      description: "Queries Cloudflare DNS-over-HTTPS and marks the domain as verified platform-wide when the expected TXT token is present."
      operationId: postResourcesResourceidCheckDns
      tags: [Resources]
      security: [{ apiKey: [] }]
      parameters:
        - { name: resourceId, in: path, required: true, schema: { type: string }, description: "Path parameter resourceId." }
      responses:
        "200":
          description: Result of the check (verified true/false)
          content:
            application/json:
              schema:
                type: object
                properties:
                  verified: { type: boolean }
                  expected: { type: string, nullable: true }
                  found: { type: array, items: { type: string }, nullable: true }
        "404":
          description: No pending DNS verification for this resource
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /resources/{resourceId}/confirm:
    get:
      summary: Confirm a magic-link verification (public — the token itself is the credential, no Clerk session required)
      description: "Confirm a magic-link verification (public — the token itself is the credential, no Clerk session required)."
      operationId: getResourcesResourceidConfirm
      tags: [Resources]
      security: []
      parameters:
        - { name: resourceId, in: path, required: true, schema: { type: string }, description: "Path parameter resourceId." }
        - { name: token, in: query, required: true, schema: { type: string }, description: "Query parameter token." }
      responses:
        "200":
          description: The email address was verified platform-wide.
        "404":
          description: Invalid or already-used token
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /admin/resources:
    get:
      summary: List all resources across all users (admin only)
      description: "List all resources across all users (admin only)."
      operationId: getAdminResources
      tags: [Admin]
      security: [{ clerkSession: [] }]
      responses:
        "200": { description: OK }

  /admin/resources/{resourceId}:
    delete:
      summary: Delete a resource and its verifications/grants (admin only)
      description: "Delete a resource and its verifications/grants (admin only)."
      operationId: deleteAdminResourcesResourceid
      tags: [Admin]
      security: [{ clerkSession: [] }]
      parameters:
        - { name: resourceId, in: path, required: true, schema: { type: string }, description: "Path parameter resourceId." }
      responses:
        "204": { description: No Content }
