openapi: 3.0.3
info:
  title: Kitsos Verify API
  description: >
    Resource ownership verification (DNS-TXT or magic link) — the gate
    before any resource_grants row gets created. Every route except
    the health check and the magic-link confirm endpoint requires a
    Clerk session, a scoped Verify API key, or a private MCP delegation.
    Magic links are sent only to the email address being verified and
    expire after 30 minutes; DNS challenges expire after 24 hours.
  version: "1.0.0"
servers:
  - url: https://verify.api.kitsos.net/v1

components:
  parameters:
    PageLimit:
      name: limit
      in: query
      schema: { type: integer, default: 100, minimum: 1, maximum: 500 }
    PageOffset:
      name: offset
      in: query
      schema: { type: integer, default: 0, minimum: 0, maximum: 100000 }
  securitySchemes:
    clerkSession:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    ResourceVerification:
      type: object
      properties:
        id: { type: string }
        app_id: { type: string }
        resource_type: { type: string }
        value: { type: string, maxLength: 320 }
        method: { type: string, enum: [dns_txt, magic_link] }
        verified_at: { type: integer, nullable: true }
        reverify_due_at: { type: integer, nullable: true }
        grace_expires_at: { type: integer, nullable: true }
    Error:
      type: object
      properties:
        error: { type: string }

security:
  - clerkSession: []

paths:
  /health:
    get:
      summary: Health check
      security: []
      responses:
        "200": { description: OK }

  /resources:
    get:
      summary: List your own resources and their verification status
      parameters:
        - { $ref: '#/components/parameters/PageLimit' }
        - { $ref: '#/components/parameters/PageOffset' }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/ResourceVerification' } }
    post:
      summary: Register a resource and start a verification attempt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [appId, resourceType, value, method, scopes]
              properties:
                appId: { type: string, maxLength: 63 }
                resourceType: { type: string, maxLength: 64, example: zone }
                value: { type: string, maxLength: 320, example: domain.de }
                method:
                  type: string
                  enum: [dns_txt, magic_link]
                  description: magic_link requires resourceType=email_address; dns_txt requires a DNS hostname.
                scopes: { type: array, minItems: 1, maxItems: 100, items: { type: string, maxLength: 100 } }
      responses:
        "201":
          description: >
            For dns_txt: returns the TXT record name/value to add.
            For magic_link: sends the confirm email and returns whether it was sent.
          content:
            application/json:
              schema:
                type: object
                properties:
                  resourceId: { type: string }
                  verificationId: { type: string }
                  instructions:
                    type: object
                    nullable: true
                    properties:
                      record: { type: string }
                      type: { type: string, enum: [TXT] }
                      value: { type: string }
                  emailSent: { type: boolean, nullable: true }
        "400":
          description: Invalid resource, method, or scope
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        "429":
          description: Verification-attempt or verified-resource limit exceeded
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        "502":
          description: The verification email could not be sent
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /resources/{resourceId}/check-dns:
    post:
      summary: Check a pending DNS-TXT verification via Cloudflare DoH; creates the resource_grants row on success
      parameters:
        - { name: resourceId, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: Result of the check (verified true/false)
          content:
            application/json:
              schema:
                type: object
                properties:
                  verified: { type: boolean }
        "404":
          description: No pending DNS verification for this resource
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        "410":
          description: Verification attempt expired during confirmation
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /resources/{resourceId}:
    delete:
      summary: Delete your own verification history and grant for a resource
      description: >
        Removes only the authenticated user's verification rows, grant, and
        legacy API-key resource links. A shared resource row remains while
        another user still owns it. Returns 409 while one of the caller's mail
        webhooks uses the address as a sender or an HME alias uses it as a
        destination; delete or reconfigure those objects first. This operation
        never cascades into product objects.
      parameters:
        - { name: resourceId, in: path, required: true, schema: { type: string } }
      responses:
        "204": { description: Ownership records deleted }
        "404": { description: No resource ownership belonging to the caller }
        "409":
          description: Resource is still used by a mail webhook or HME alias
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /resources/{resourceId}/confirm:
    get:
      summary: Confirm a magic-link verification (public — the token itself is the credential, no Clerk session required)
      security: []
      parameters:
        - { name: resourceId, in: path, required: true, schema: { type: string } }
        - { name: token, in: query, required: true, schema: { type: string, maxLength: 128 } }
      responses:
        "200":
          description: Verified — resource_grants row created
        "404":
          description: Invalid, expired, or already-used token
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /admin/resources:
    get:
      summary: List all resources across all users (admin only)
      parameters:
        - { $ref: '#/components/parameters/PageLimit' }
        - { $ref: '#/components/parameters/PageOffset' }
      responses:
        "200": { description: OK }

  /admin/resources/{resourceId}:
    delete:
      summary: Delete a resource and all ownership rows (admin only)
      description: Uses the same no-cascade conflict rule as self-service deletion and returns 409 while any mail webhook or HME alias depends on the resource.
      parameters:
        - { name: resourceId, in: path, required: true, schema: { type: string } }
      responses:
        "204": { description: No Content }
        "404": { description: Resource not found }
        "409": { description: Resource is still in use }
